﻿@{
    ViewBag.Title = "Biometrico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{


}
@section js{

    <script src="~/js/Biometrico.js"></script>

}


<div class="row ">
    <div class="col-md-12">

        <div class="row fondoTitulo">
            <label class="col-md-12 text-center tituloSeccion">Biometrico</label>
        </div>
    </div>

</div>

<div class="row fondoFormulario">

    <input id="txtDocumentoBiometrico" class=" col-sm-7 offset-sm-2 form-control" placeholder="Codigo / Cedula Atleta" />

    <div class="col-sm-1">
        <button id="btnConsultarBiometrico" class="btn btnRojo">Consultar </button>
    </div>
</div>

<div class="row fondoTabla">
    <input id="txtidMembresia" type="text" value="0" />
    <input id="txtidPersona" type="text" value="@ViewBag.idPersona" />

    <div class="col-sm-12 space-vert">
        <table id="tblMembresiaBiometrico" class="table table-striped table-bordered table-responsive-sm " style="width:100%;">
            <thead>
                <tr>
                    <th></th>
                    <th>Atleta</th>
                    <th>Estado</th>
                    <th>Valido hasta</th>
                    <th>Dias Restantes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonM" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-cog"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonM">
                                <a id="btnEditarMembresia" class="dropdown-item" href="#" data-toggle="modal" data-target="#modalEditarMembresia">Editar</a>
                            </div>
                        </div>
                    </td>
                    <td id="atletaBiometrico"></td>
                    <td id="estadoBiometrico"></td>
                    <td id="validoHastaBiometrico"></td>
                    <td id="diasRestantesBiometrico"></td>
                </tr>
            </tbody>
        </table>
        <br />
    </div>
</div>

<div class="row ">
    <div class="col-md-12">

        <div class="row fondoTitulo">
            <label class="col-md-12 text-center tituloSeccion">Saldos Pendientes</label>
        </div>
    </div>

</div>

<div class="row fondoTabla">

    <div class="col-sm-12 space-vert">
        <table id="tblSaldosPendientesBiometrico" class="table table-striped table-bordered table-responsive-sm " style="width:100%;">
            
        </table>
        <br />
    </div>
</div>

<!-- Modal Editar Membresia-->
<div class="modal fade" id="modalEditarMembresia" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="modal-header">
                <h4 class="modal-title text-left">Editar Membresia</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <!-- Modal Body-->
            <div class="modal-body">

                <div class="row form-group">
                    <label for="txtDesdeMembresia" class="col-md-3 col-md-offset-1 control-label"> Valido desde:</label>
                    <div class="col-md-7">
                        <input type="date" id="txtDesdeMembresia" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtHastaMembresia" class="col-md-3 col-md-offset-1 control-label">Valido Hasta:</label>
                    <div class="col-md-7">
                        <input type="date" id="txtHastaMembresia" class="form-control" />
                    </div>

                </div>
                <div class="row form-group">
                    <label for="txtDiasAgregar" class="col-md-3 col-md-offset-1 control-label">Dias a agregar</label>
                    <div class="col-md-7">
                        <input type="number" id="txtDiasAgregar" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtFacturaMembresia" class="col-md-3 col-md-offset-1 control-label">Factura:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtFacturaMembresia" class="form-control" />
                    </div>
                </div>

            </div>
            <!-- Modal footer-->
            <div class="modal-footer">
                <button id="btnCerrarMembresia" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button id="btnGuardarMembresia" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>

    </div>
</div>
