﻿body {
    background-color: #EFEFEF;
}
.bodyBlock {
    margin-top:50px;
}

.logo1 {
    margin-top: 5px;
    margin-bottom: 5px;
}


.fondoTitulo {
    background-color: #D1D4D4;
    padding-top: 13px;
    padding-bottom: 10px;
    border: solid 3px white;
}

.fondoTabla {
    background-color: #F2F2F2;
    border: solid 3px white;
}

.fondoFormulario {
    background-color: #F2F2F2;
    padding-top: 15px;
    padding-bottom: 15px;
    border: solid 3px white;
}


table.table-bordered {
    border: 1px solid #A43B3E;
    margin-top: 20px;
}

    table.table-bordered > thead > tr > th {
        border: 1px solid #A43B3E;
    }

    table.table-bordered > thead > tr > td {
        border: 1px solid #A43B3E;
    }

    table.table-bordered > tbody > tr > th {
        border: 1px solid #A43B3E;
    }

    table.table-bordered > tbody > tr > td {
        border: 1px solid #A43B3E;
    }

.tituloSeccion {
    font-size: x-large;
    font-weight: 700;
}

.btnRojo {
    background-color: #A43B3E;
    color: white;
}

.center-page {
    width: 400px;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    background-color: white;
    padding-top: 25px;
}

.center-table {
    margin-left: 5%;
    margin-right: 5%;
    align-content: center;
}

.space-vert {
    margin-top: 20px;
}

.espacioResponsive {
    margin: 3px;
}

.logo {
    width: 150px;
    height: 50px;
    margin-top: -15px;
}

.center-button {
    position: absolute;
}

.tabla {

    margin:3%;
    
}