﻿
@{
    ViewBag.Title = "Otros Ingresos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{


}
@section js{

    <script src="~/js/OtroIngreso.js"></script>

}



<div class="row">
    <div class="col-md-12">

        <div class="row fondoTitulo">
            <label class="col-md-12 text-center tituloSeccion">Otros Ingresos</label>
        </div>
    </div>

</div>

<div class="row form-group">
    <div class="col-md-7">
        <input type="text" id="txtIdOtroIngreso" class="form-control" value="0" />
    </div>
</div>

<div class="row fondoFormulario">
    <label for="txtDesde" class="col-sm-1 offset-sm-2"> Desde:</label>
    <input id="txtDesde" type="date" class=" col-sm-3  form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
    <label for="txtHasta" class="col-sm-1 "> Hasta:  </label>
    <input id="txtHasta" type="date" class=" col-sm-3  form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")"/>

    <div class="col-sm-2">
        <button id="btnConsultarOtrosIngresos" class="btn btnRojo">Consultar </button>
    </div>
</div>

<div class="row fondoTabla">

    <div class="col-sm-12 text-left space-vert">
        <button class="btn btnRojo" id="btnAgregarOtroIngreso" type="button" data-toggle="modal" data-target="#modalOtrosIngresos"> <i class="fa fa-plus-circle"></i> Agregar Ingreso</button>
    </div>

    <div class="col-sm-12 space-vert">
        <table id="tblOtrosIngresos" class="table table-striped table-bordered table-responsive-sm " >
            <thead>
                <tr>
                    <th></th>
                    <th>Concepto</th>
                    <th>Fecha</th>
                    <th>Factura</th>
                    <th>Valor</th>
                </tr>
            </thead>
        </table>
        <br />
    </div>
</div>

<!-- Modal Agregar Producto-->
<div class="modal fade" id="modalOtrosIngresos" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="modal-header">
                <h4 class="modal-title text-left">Nuevo Ingreso </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <!-- Modal Body-->
            <div class="modal-body">

                <div class="row form-group">
                    <label for="txtConcepto" class="col-md-3 col-md-offset-1 control-label"> Concepto:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtConcepto" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtValor" class="col-md-3 col-md-offset-1 control-label">Valor:</label>
                    <div class="col-md-7">
                        <input type="number" id="txtValor" class="form-control" />
                    </div>

                </div>
                <div class="row form-group">
                    <label for="txtFactura" class="col-md-3 col-md-offset-1 control-label">Factura:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtFactura" class="form-control" />
                    </div>
                </div>


            </div>
            <!-- Modal footer-->
            <div class="modal-footer">
                <button id="btnCerrarOtroIngreso" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button id="btnGuardarOtroIngreso" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>

    </div>
</div>