﻿@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{


}
@section js{

    <script src="~/js/Productos.js"></script>

}

<div class="row">
    <div class="col-md-12">

        <div class="row fondoTitulo">
            <label class="col-md-12 text-center tituloSeccion">Productos</label>
        </div>
    </div>

</div>

<div class="row form-group">
    <div class="col-md-7">
        <input type="text" id="txtIdProducto" class="form-control" value="0" />
    </div>
</div>

<div class="row fondoTabla">

    <div class="col-sm-12 text-left space-vert">
        <button class="btn btnRojo" id="btnAgregarProducto" type="button" data-toggle="modal" data-target="#modalProductos"> <i class="fa fa-plus-circle"></i> Agregar Producto</button>
    </div>

    <div class="col-sm-12 space-vert">
        <table id="tblProductos" class="table table-striped table-bordered table-responsive-sm " style="width:100%;">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Precio compra</th>
                    <th>Precio venta</th>
                    <th>Stock</th>
                </tr>
            </thead>
        </table>
        <br />
    </div>
</div>

<!-- Modal Agregar Producto-->
<div class="modal fade" id="modalProductos" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="modal-header">
                <h4 class="modal-title text-left">Nuevo Producto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <!-- Modal Body-->
            <div class="modal-body">

                <div class="row form-group">
                    <label for="txtNombreProducto" class="col-md-3 col-md-offset-1 control-label"> Nombre:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtNombreProducto" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtPrecioCompra" class="col-md-3 col-md-offset-1 control-label">Precio compra:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtPrecioCompra" class="form-control" />
                    </div>

                </div>
                <div class="row form-group">
                    <label for="txtPrecioVenta" class="col-md-3 col-md-offset-1 control-label">Precio venta:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtPrecioVenta" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtStockProducto" class="col-md-3 col-md-offset-1 control-label">Stock:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtStockProducto" class="form-control" />
                    </div>
                </div>

            </div>
            <!-- Modal footer-->
            <div class="modal-footer">
                <button id="btnCerrarProducto" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button id="btnGuardarProducto" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>

    </div>
</div>


<!-- Modal Cerrar Inventario-->
<div class="modal fade" id="modalInventario" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="modal-header">
                <h4 class="modal-title text-left">Cerrar Inventario</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <!-- Modal Body-->
            <div class="modal-body">

                <div class="row form-group">
                    <label for="txtProductoInventario" class="col-md-3 col-md-offset-1 control-label">Producto:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtProductoInventario" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtInventarioInicial" class="col-md-3 col-md-offset-1 control-label"> Inventario Inicial:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtInventarioInicial" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtInventarioFinal" class="col-md-3 col-md-offset-1 control-label">Inventario Final:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtInventarioFinal" class="form-control" />
                    </div>

                </div>




            </div>
            <!-- Modal footer-->
            <div class="modal-footer">
                <button id="btnCerrarInventario" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button id="btnGuardarInventario" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>

    </div>
</div>