﻿@{
    ViewBag.Title = "Atletas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{


}
@section js{


    <script src="~/js/Persona.js"></script>
}

<div class="row">
    <div class="col-md-12">

        <div class="row fondoTitulo">
            <label class="col-md-12 text-center tituloSeccion">Atletas</label>
        </div>
    </div>

</div>

<div class="row form-group">
    <div class="col-md-7">
        <input type="text" id="txtIdPersona" class="form-control" value="0" />
    </div>
</div>

<div class="row fondoTabla">

    <div class="col-sm-12 text-left space-vert">
        <button class="btn btnRojo" id="btnAgregarAtleta" type="button" data-toggle="modal" data-target="#modalAtletas"> <i class="fa fa-plus-circle"></i> Agregar Atleta</button>
    </div>

    <div class="col-sm-12 space-vert">
        <table id="tblAtletas" class="table table-striped table-bordered  table-responsive-lg " style="width:100%;">
            <thead>
                <tr>
                    <th></th>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Celular</th>
                    <th>Teléfono</th>
                    <th>F. Nacimiento</th>
                </tr>
            </thead>
        </table>
        <br />
    </div>


</div>

<!-- Modal Agregar Atleta-->
<div class="modal fade" id="modalAtletas" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="modal-header">
                <h4 class="modal-title text-left">Datos Atleta</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <!-- Modal Body-->
            <div class="modal-body">

                <div class="row form-group">
                    <label for="txtDocumento" class="col-md-3 col-md-offset-1 control-label">Cedula <br /> Pasaporte:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtDocumento" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtNombre1" class="col-md-3 col-md-offset-1 control-label">1er Nombre:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtNombre1" class="form-control" />
                    </div>

                </div>
                <div class="row form-group">
                    <label for="txtNombre2" class="col-md-3 col-md-offset-1 control-label">2do Nombre:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtNombre2" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtApellido1" class="col-md-3 col-md-offset-1 control-label">1er Apellido:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtApellido1" class="form-control" />
                    </div>

                </div>
                <div class="row form-group">
                    <label for="txtApellido2" class="col-md-3 col-md-offset-1 control-label">2do Apellido:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtApellido2" class="form-control" />
                    </div>
                </div>
                <div class="row form-group">
                    <label for="txtFechaNacimiento" class="col-md-3 col-md-offset-1 control-label">F. Nacimiento:</label>
                    <div class="col-md-7">
                        <input type="date" id="txtFechaNacimiento" class="form-control" />
                    </div>
                </div>
                <div class="row form-group">
                    <label for="txtCorreo" class="col-md-3 col-md-offset-1 control-label">Correo:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtCorreo" class="form-control" />
                    </div>
                </div>
                <div class="row form-group">
                    <label for="txtTelefono" class="col-md-3 col-md-offset-1 control-label">Teléfono:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtTelefono" class="form-control" />
                    </div>
                </div>
                <div class="row form-group">
                    <label for="txtCelular" class="col-md-3 col-md-offset-1 control-label">Célular:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtCelular" class="form-control" />
                    </div>
                </div>

            </div>
            <!-- Modal footer-->
            <div class="modal-footer">
                <button id="btnCerrarPersona" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button id="btnGuardarPersona" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal Agregar Membresia-->
<div class="modal fade" id="modalMembresia" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="modal-header">
                <h4 class="modal-title text-left">Nueva Membresia</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <!-- Modal Body-->
            <div class="modal-body">

                <div class="row form-group">
                    <label for="txtDocumento" class="col-md-3 col-md-offset-1 control-label"> Atleta:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtAtletaMembresia" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtNombre1" class="col-md-3 col-md-offset-1 control-label">Precio:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtPrecioMembresia" class="form-control" />
                    </div>

                </div>
                <div class="row form-group">
                    <label for="txtNombre2" class="col-md-3 col-md-offset-1 control-label">Abono:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtAbonoMembresia" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtApellido1" class="col-md-3 col-md-offset-1 control-label">Valido desde:</label>
                    <div class="col-md-7">
                        <input type="date" id="txtDesdeMembresia" class="form-control" />
                    </div>

                </div>
                <div class="row form-group">
                    <label for="txtApellido2" class="col-md-3 col-md-offset-1 control-label">Tipo:</label>
                    <div class="col-md-7">
                        <select type="text" id="txtTipoMembresia" class="form-control">

                            <option value="30">1 mes</option>
                            <option value="30">1 mes + Inscripción</option>
                            <option value="30">1 mes + Inscripción parejas</option>
                            <option value="12">12 clases al mes</option>
                            <option value="30">1 mes Estudiantes</option>
                            <option value="30">1 mes Horario especial</option>
                            <option value="60">2 meses</option>
                            <option value="90">3 meses</option>
                            <option value="120">4 meses</option>
                            <option value="150">5 meses</option>
                            <option value="180">6 meses</option>
                            <option value="210">7 meses</option>
                            <option value="240">8 meses</option>
                            <option value="270">9 meses</option>
                            <option value="300">10 meses</option>
                            <option value="330">11 meses</option>
                            <option value="360">12 meses</option>

                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="txtFechaNacimiento" class="col-md-3 col-md-offset-1 control-label">Forma de pago:</label>
                    <div class="col-md-7">
                        <select id="txtFormaPagoMembresia" class="form-control">

                            <option value="1">Efectivo</option>
                            <option value="2">Cheque</option>
                            <option value="3">Transferencia</option>
                            <option value="4">Tarjeta</option>

                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="txtCorreo" class="col-md-3 col-md-offset-1 control-label">Factura:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtFacturaMembresia" class="form-control" />
                    </div>
                </div>


            </div>
            <!-- Modal footer-->
            <div class="modal-footer">
                <button id="btnCerrarMembresia" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button id="btnGuardarMembresia" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal Agregar Consumo-->
<div class="modal fade" id="modalConsumo" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="modal-header">
                <h4 class="modal-title text-left">Nueva Consumo</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <!-- Modal Body-->
            <div class="modal-body">

                <div class="row form-group">
                    <label for="txtAtletaConsumo" class="col-md-3 col-md-offset-1 control-label"> Atleta:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtAtletaConsumo" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtProductoConsumo" class="col-md-3 col-md-offset-1 control-label">Producto:</label>
                    <div class="col-md-7">
                        <select  id="txtProducto" class="form-control" >

                        </select>
                    </div>

                </div>
                <div class="row form-group">
                    <label for="txtValorConsumo" class="col-md-3 col-md-offset-1 control-label">Valor:</label>
                    <div class="col-md-7">
                        <input type="number" id="txtValorConsumo" class="form-control" />
                    </div>
                </div>
                           

            </div>
            <!-- Modal footer-->
            <div class="modal-footer">
                <button id="btnCerrarConsumo" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button id="btnGuardarConsumo" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>

    </div>
</div>