﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Box</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    @RenderSection("css", required: false)
</head>
<body>


    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">

        <a class="navbar-brand logo1" href="#">
            <span>
                <img class="logo" src="~/Content/Images/logo.png" />
            </span>
        </a>

        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#headerMenu" aria-controls="headerMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="headerMenu" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link " href="#" id="alertsDropdown">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("Index","Biometrico")" id="alertsDropdown">Biométrico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("Atletas","Persona")" id="alertsDropdown">Atletas</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("Editar","Producto")" id="alertsDropdown">Productos</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("Todos","OtroIngreso")" id="alertsDropdown">Otros Ingresos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("Todos","Gasto")" id="alertsDropdown">Gastos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("Index","Biometrico")" id="alertsDropdown">Caja</a>
                </li>
            </ul>
        </div>


    </nav>

    <div class="container body-content">
        <div class="bodyBlock">
            @RenderBody()
        </div>

    </div>
    <hr />
    <footer class="sticky-footer bg-dark ">
        <div class="container my-auto ">
            <div class="copyright text-center my-auto">
                <span class="text-white">
                    Copyright © Magic Corp.
                    <br />
                    MyBox - @DateTime.Today.Year
                </span>
            </div>
        </div>
    </footer>

    <script type="text/javascript">
        var SITEROOT = '@System.Configuration.ConfigurationManager.AppSettings["SITEROOT"]';
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("js", required: false)
</body>
</html>
