﻿@{
    ViewBag.Title = "Atletas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{


}
@section js{



}



<div class="row">
    <div class="col-md-12">

        <div class="row fondoTitulo">
            <label class="col-md-12 text-center tituloSeccion">Membresias</label>
        </div>
    </div>

</div>


<div class="row fondoFormulario">

    

    <div class="col-sm-12 space-vert">

        <div class="row">

            <label class="col-md-1 offset-md-3">Atleta: </label>
            <input class="col-sm-2 form-control" />

            <label class="col-md-1">Precio: </label>
            <input class="col-md-2 form-control" />

        </div>

        
        <br />
    </div>


</div>



